<div class="container mx-auto">
  <img
    src="assets/bg.png"
    alt="background image"
    class="w-full h-16 object-cover mb-6"
  />
  <div class="px-4 text-2xl font-bold text-gray-800">Resources</div>
</div>
<div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
  <div class="flex justify-end">
    <button
      (click)="openAddResourcePopup()"
      class="focus:ring-2 focus:ring-offset-2 focus:ring-teal-dark mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-teal-light hover:bg-teal-dark focus:outline-none rounded"
    >
      <p class="text-sm font-medium leading-none text-white">Add Resource</p>
    </button>
  </div>
  <div class="p-6 px-0">
    <table class="mt-4 w-full min-w-max table-auto text-center">
      <thead>
        <tr>
          <th
            class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50"
          >
            Name
          </th>
          <th
            class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50"
          >
            description
          </th>
          <th
            class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50"
          >
            quantity
          </th>
          <th
            class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources">
          <td class="p-4 border-b border-blue-gray-50">
            {{ resource.name }}
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            {{ resource.description }}
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            {{ resource.quantity }}
          </td>

          <td class="p-4 border-b border-blue-gray-50">
            <button
              class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-20 h-20 rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30"
              type="button"
              (click)="openEditResourcePopup(resource)"
            >
              <span
                class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
              >
                <i class="fa-solid fa-pen-to-square text-xl text-teal-dark"></i>
              </span>
            </button>
            <button
              class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-20 h-20 rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30"
              type="button"
              (click)="openDeleteResourcePopup(resource)"
            >
              <span
                class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
              >
                <i class="fa-solid fa-trash text-xl text-teal-dark"></i>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-popup
    [title]="'Add Resource'"
    [show]="showAddResourcePopup"
    (close)="closeAddResourcePopup()"
  >
    <app-add-resource></app-add-resource>
  </app-popup>

  <app-popup
    [title]="'Edit Resource'"
    [show]="showEditResourcePopup"
    (close)="closeEditResourcePopup()"
  >
    <app-edit-resource [resourceData]="selectedResource"></app-edit-resource>
  </app-popup>

  <app-popup
    [title]="'Delete Resource'"
    [show]="showDeleteResourcePopup"
    (close)="closeDeleteResourcePopup()"
  >
    <app-confirmation-dialog
      [selectedName]="selectedName"
      (confirmed)="handleDeleteConfirmation($event)"
    ></app-confirmation-dialog>
  </app-popup>
</div>
