
<div class="bg-white py-6 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col sm:flex-row justify-end items-center mb-6 gap-4">
    <button
      (click)="openAddResourcePopup()"
      class="flex items-center gap-2 px-5 py-2.5 bg-teal-600 hover:bg-teal-700 text-white text-sm font-medium rounded-lg transition-all shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
    >
    <i class="fa-solid fa-toolbox text-base"></i>
  Add Resource
  </button>
  </div>
  <div class="overflow-x-auto shadow ring-1 ring-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200 text-sm text-gray-700">
      <thead class="bg-gray-50 text-xs uppercase font-semibold text-gray-600">
        <tr>
          <th
          class="px-4 py-3 text-left"          >
            Name
          </th>
          <th
          class="px-4 py-3 text-left"          >
            description
          </th>
          <th
          class="px-4 py-3 text-left"          >
            quantity
          </th>
          <th
          class="px-4 py-3 text-center"          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 bg-white">
        <tr *ngFor="let resource of resources" class="hover:bg-gray-50">
          <td class="px-4 py-3">
            {{ resource.name }}
          </td>
          <td class="px-4 py-3">
            {{ resource.description }}
          </td>
          <td class="px-4 py-3">
            {{ resource.quantity }}
          </td>

          <td class="px-4 py-3 text-center">
            <button
                (click)="openEditResourcePopup(resource)"
                class="p-2 rounded-full hover:bg-teal-100 text-teal-700 transition"
                aria-label="Edit Resource"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
              class="p-2 rounded-full hover:bg-red-100 text-red-600 transition"
                (click)="openDeleteResourcePopup(resource)"
              >
              <i class="fa-solid fa-trash"></i>
  
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-popup
    [title]="'Add Resource'"
    [show]="showAddResourcePopup"
    (close)="closeAddResourcePopup()"
  >
    <app-add-resource></app-add-resource>
  </app-popup>

  <app-popup
    [title]="'Edit Resource'"
    [show]="showEditResourcePopup"
    (close)="closeEditResourcePopup()"
  >
    <app-edit-resource [resourceData]="selectedResource"></app-edit-resource>
  </app-popup>

  <app-popup
    [title]="'Delete Resource'"
    [show]="showDeleteResourcePopup"
    (close)="closeDeleteResourcePopup()"
  >
    <app-confirmation-dialog
      [selectedName]="selectedName"
      (confirmed)="handleDeleteConfirmation($event)"
    ></app-confirmation-dialog>
  </app-popup>
</div>
