<div class="p-8 rounded border border-gray-200">
  <form [formGroup]="editSalleForm" (ngSubmit)="onSubmit()">
    <div class="mt-8 grid lg:grid-cols-2 gap-4">
      <div>
        <label for="name" class="text-md text-gray-700 block mb-1 font-bold"
          >Name</label
        >
        <div class="mt-1">
          <input
            type="text"
            name="name"
            id="name"
            formControlName="name"
            class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-teal-light focus:border-teal-light text-gray-700 w-full"
            placeholder="Enter salle name"
          />

          <div
            *ngIf="
              editSalleForm.get('name')?.invalid &&
              (editSalleForm.get('name')?.dirty ||
                editSalleForm.get('name')?.touched)
            "
            class="mt-1 text-sm text-red-600"
          >
            <div *ngIf="editSalleForm.get('name')?.hasError('required')">
              Name is required.
            </div>
          </div>
        </div>
      </div>

      <div>
        <label for="quantity" class="text-md text-gray-700 block mb-1 font-bold"
          >Capacity</label
        >
        <div class="mt-1">
          <input
            type="number"
            name="capacity"
            id="capacity"
            formControlName="capacity"
            class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-teal-light focus:border-teal-light text-gray-700 w-full"
            placeholder="0"
          />
          <div
            *ngIf="
              editSalleForm.get('capacity')?.invalid &&
              (editSalleForm.get('capacity')?.dirty ||
                editSalleForm.get('capacity')?.touched)
            "
            class="mt-1 text-sm text-red-600"
          >
            <div *ngIf="editSalleForm.get('capacity')?.hasError('required')">
              Capacity is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <label
        for="description"
        class="text-md text-gray-700 block mb-1 font-bold"
        >Description</label
      >
      <div class="mt-1">
        <textarea
          type="text"
          name="description"
          id="description"
          formControlName="description"
          class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-teal-light focus:border-teal-light text-gray-700 w-full"
          placeholder="Enter salle description"
        ></textarea>
        <div
          *ngIf="
            editSalleForm.get('description')?.invalid &&
            (editSalleForm.get('description')?.dirty ||
              editSalleForm.get('description')?.touched)
          "
          class="mt-1 text-sm text-red-600"
        >
          <div *ngIf="editSalleForm.get('description')?.hasError('required')">
            Description is required.
          </div>
        </div>
      </div>
    </div>

    <div class="lg:col-span-2">
      <label class="text-md text-gray-700 block mb-3 font-bold">Batiment</label>
      <div class="flex flex-wrap gap-3 lg:gap-16">
        <label class="inline-flex items-center">
          <input
            type="radio"
            name="batiment"
            value="Principal"
            class="h-5 w-5 text-teal-600 focus:ring-teal-500 border-gray-300"
            formControlName="batiment"
            checked
          />
          <span class="ml-2 text-gray-700">Principal</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="radio"
            name="batiment"
            value="Annexe"
            formControlName="batiment"
            class="h-5 w-5 text-teal-600 focus:ring-teal-500 border-gray-300"
          />
          <span class="ml-2 text-gray-700">Annexe</span>
        </label>
      </div>
      <div
        *ngIf="
          editSalleForm.get('batiment')?.invalid &&
          (editSalleForm.get('batiment')?.dirty ||
            editSalleForm.get('batiment')?.touched)
        "
        class="mt-1 text-sm text-red-600"
      >
        <div>
          <div *ngIf="editSalleForm.get('batiment')?.hasError('required')">
            Batiment is required.
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8">
      <label class="text-md text-gray-700 block mb-3 font-bold"
        >Ressources</label
      >
      <div formArrayName="ressources">
        <div *ngIf="resourcesArray.length === 0" class="flex justify-start">
          <button
            type="button"
            (click)="addResource()"
            class="text-teal-dark hover:text-teal-700"
          >
            <i class="fa fa-plus"></i> Ajouter une ressource
          </button>
        </div>
        <div
          *ngFor="let resource of resourcesArray.controls; let i = index"
          [formGroupName]="i"
          class="flex items-center gap-4 mb-3"
        >
          <div class="flex-1">
            <select
              formControlName="resourceId"
              class="bg-gray-100 border border-gray-200 rounded py-1 px-3 w-full m-3"
            >
              <option value="" disabled>Sélectionner une ressource</option>
              <option *ngFor="let res of resources" [value]="res.id">
                {{ res.name }}
              </option>
            </select>
            <div
              *ngIf="
                resourcesArray.at(i).get('resourceId')?.invalid &&
                (resourcesArray.at(i).get('resourceId')?.dirty ||
                  resourcesArray.at(i).get('resourceId')?.touched)
              "
              class="text-sm text-red-600 ml-3"
            >
              Sélectionnez une ressource
            </div>
          </div>

          <div class="flex-1">
            <input
              type="number"
              formControlName="quantity"
              class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-teal-light focus:border-teal-light text-gray-700 w-full"
              placeholder="0"
              min="1"
            />
            <div
              *ngIf="
                resourcesArray.at(i).get('quantity')?.invalid &&
                (resourcesArray.at(i).get('quantity')?.dirty ||
                  resourcesArray.at(i).get('quantity')?.touched)
              "
              class="text-sm text-red-600"
            >
              Quantité minimale: 1
            </div>
          </div>

          <div class="flex space-x-2">
            <button
              type="button"
              (click)="removeResource(i)"
              class="text-red-600 hover:text-red-800"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              type="button"
              (click)="addResource()"
              class="text-teal-600 hover:text-teal-800"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Message de succès -->
    <div
      *ngIf="successMessage"
      class="mb-4 p-4 rounded-md bg-green-50 border border-green-200"
    >
      <div class="flex">
        <div class="flex-shrink-0">
          <svg
            class="h-5 w-5 text-green-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-green-800">
            {{ successMessage }}
          </p>
        </div>
      </div>
    </div>

    <div class="space-x-4 mt-8">
      <button
        type="submit"
        class="py-2 px-4 bg-teal-light text-white rounded hover:bg-teal-dark active:bg-teal-light disabled:opacity-50"
        [class.bg-teal]="!editSalleForm.invalid"
        [class.hover:bg-teal-light]="!editSalleForm.invalid"
        [class.focus:ring-teal-light]="!editSalleForm.invalid"
        [class.bg-teal-dark]="editSalleForm.invalid"
        [class.cursor-not-allowed]="editSalleForm.invalid"
        [disabled]="editSalleForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
