<div class="container mx-auto">
<img src="assets/bg.png" alt="background image" class="w-full h-16 object-cover mb-6">
<div class="grid grid-cols-2 mb-4 p-4">
    <div class="p-4 text-lg font-bold text-gray-800">Events</div>
    <button
      class="w-auto text-center m-auto p-4 bg-[#4FD1C5] text-white border hover:border-[#4FD1C5] py-2 rounded-xl font-medium hover:bg-white hover:text-[#4FD1C5]  transition-colors" (click)="handleRequestEvent()">
      Request Event</button>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-4 justify-items-center mt-auto">
    <app-event-card
        *ngFor="let event of events"
        [event]="event"
        (viewDetails)="handleViewDetails($event)"
        class="w-64 rounded-lg shadow-md bg-white overflow-hidden "></app-event-card>
</div>
</div>