<div>
  <nav>
    <div
      href="/"
      class="d-flex align-items-center mt-4 mx-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-4">UserName</span>
    </div>
    <hr />
    <div class="sidebar-content">
      <ul>
        <li class="my-1">
          <a routerLink="/"><span class="fas fa-home px-2"></span> Home</a>
        </li>

        <li class="my-1">
          <a routerLink="/users"
            ><span class="fas fa-user px-2"></span> User Management</a
          >
        </li>

        <li class="my-1">
          <a routerLink="/events"
            ><span class="fas fa-calendar px-2"></span> Event Management</a
          >
        </li>
        <li class="my-1">
          <a routerLink="/resources"
            ><span class="fas fa-toolbox px-2"></span> Resource Management</a
          >
        </li>

        <li class="my-1">
          <a routerLink="/rooms"
            ><span class="fas fa-door-closed px-2"></span> Room Management</a
          >
        </li>

        <li class="my-1">
          <a routerLink="/chat"
            ><span class="fas fa-message px-2"></span> Chat Channel
          </a>
        </li>
      </ul>
    </div>
    <div class="logout-button my-4 mx-2">
      <hr />
      <button
        type="submit"
        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 bg-teal-light"
        (click)="logout()"
      >
        Disconnect
      </button>
    </div>
  </nav>
</div>
