
<div class="bg-white py-6 px-4 sm:px-6 lg:px-8 ">
  <div class="flex flex-col sm:flex-row justify-end items-center mb-6 gap-4">
    <button
      (click)="openAddSallePopup()"
      class="flex items-center gap-2 px-5 py-2.5 bg-teal-600 hover:bg-teal-700 text-white text-sm font-medium rounded-lg transition-all shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
    >
    <i class="fa-solid fa-user-plus text-base"></i>
    Add Salle
  </button>
  </div>
  <div class="overflow-x-auto shadow ring-1 ring-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200 text-sm text-gray-700">
      <thead class="bg-gray-50 text-xs uppercase font-semibold text-gray-600">
        <tr>
          <th class="px-4 py-3 text-left">Name</th>
          <th class="px-4 py-3 text-left">Description</th>
          <th class="px-4 py-3 text-left">Batiment</th>
          <th class="px-4 py-3 text-left">Capacity</th>
          <th class="px-4 py-3 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salle of salles">
          <td class="px-4 py-3">
            {{ salle.name }}
          </td>
          <td class="px-4 py-3">
            {{ salle.description }}
          </td>
          <td class="px-4 py-3">
            {{ salle.batiment }}
          </td>
          <td class="px-4 py-3">
            {{ salle.capacity }}
          </td>

          <td class="px-4 py-3 text-center">
            <button
              class="p-2 rounded-full hover:bg-teal-100 text-teal-700 transition"
              (click)="openEditSallePopup(salle)"
            >
            <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
            class="p-2 rounded-full hover:bg-red-100 text-red-600 transition"
              (click)="openDeleteSallePopup(salle)"
            >
            <i class="fa-solid fa-trash"></i>

            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-popup
    [title]="'Add Salle'"
    [show]="showAddSallePopup"
    (close)="closeAddSallePopup()"
  >
    <app-add-salle></app-add-salle>
  </app-popup>

  <app-popup
    [title]="'Edit Salle'"
    [show]="showEditSallePopup"
    (close)="closeEditSallePopup()"
  >
    <app-edit-salle [salleData]="selectedSalle"></app-edit-salle>
  </app-popup>

  <app-popup
    [title]="'Delete Salle'"
    [show]="showDeleteSallePopup"
    (close)="closeDeleteSallePopup()"
  >
    <app-confirmation-dialog
      [selectedName]="selectedName"
      (confirmed)="handleDeleteConfirmation($event)"
    ></app-confirmation-dialog>
  </app-popup>
</div>
